

.clock{
    display: flex;
    justify-content: flex-end;
    padding-right: 5vw;
    padding-top: 5vh;
    border: 3px solid black;
    background-color: #48E8E8;
 
}

.clock-content{
    display: block;
    margin: auto;
}

.tab-header{
  width: 200px;
  height: 30px;
  /* margin: 0 20px; */
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  
}

.tab-header > li{
  width: 10vw;
  border-top: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  /* border-bottom: 2px solid black; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 4px;
  text-align: center;
  cursor: pointer;
  background-color: lightpink;
  
}

.tab-header > li:first-child{
  border-left: 2px solid black;
}

.tab-header > li:last-child{
  border-right: 2px solid black;
}

.tab-header > li:hover{
  background-color: black;
  color: white;
}

.active{
  font-weight: bold;
}

.tab-list{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.tab-content{
  font-weight: bold;
  color: white;
  height: 192px;
  /* margin: 0 20px; */
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  background-image: url(https://hd.unsplash.com/photo-1445112098124-3e76dd67983c);
  background-size: cover;
}

.tab-content article {
    text-align: center;
    display: flex;
    flex-direction: column;
}

body{
  display: flex;
  justify-content: space-around;
}

.interactive{
  display: flex;
  justify-content: space-around;
}

.live{
    text-decoration: none;
    margin-bottom: 5vh;
    color: black;
}

.live:hover{
    text-decoration: underline;
    color: yellow;
}

.git{
    text-decoration: none;
    color: black;
}

.git:hover{
    text-decoration: underline;
    color: orange;
}