#root{
  background-color: white;
  /* color:white; */
}
.name{
  display: flex;
  margin: 5vh auto 5vh auto;
  justify-content: center;
  font-size: 24px;
}

.clock{
    display: flex;
    /* justify-content: flex-start; */
    /* padding-right: 5vw;
    padding-top: 5vh; */
    border: 3px solid black;
    /* background-color: #AB7B93; */
 
}

.clock-content{
    display: block;
    margin-left: 1vw;;
}

.start{
  display:flex;
}

.tabs{
  width:100%
}
.tab-header{
  width: 40vw;
  height: 30px;
  /* margin: 0 20px; */
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 0 0 5vw;
  
}

.tab-header > li{
  width: 30vw;
  border-top: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  /* border-bottom: 2px solid black; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 4px;
  text-align: center;
  cursor: pointer;
  background-color: lightgray;
  
  display:flex;
  justify-content: center;
  
}

.tab-header > li:first-child{
  border-left: 2px solid black;
}

.tab-header > li:last-child{
  border-right: 2px solid black;
}

.tab-header > li:hover{
  background-color: black;
  color: white;
}

.active{
  font-weight: bold;
  color: white;
}

.tab-list{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.tab-content{
  font-weight: bold;
  color: white;
  height: 192px;
  /* margin: 0 20px; */
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  background-image: url(https://hd.unsplash.com/photo-1445112098124-3e76dd67983c);
  background-size: cover;
}

.tab-content article {
    text-align: center;
    display: flex;
    flex-direction: column;
}

body{
  display: flex;
  justify-content: space-around;
  
}

.interactive{
  display: flex;
  justify-content: space-around;
}

.live{
    text-decoration: none;
    margin-bottom: 5vh;
    color: black;
}

.live:hover{
    text-decoration: underline;
    animation-name: change;
    animation-duration: 4s;
}

.git{
    text-decoration: none;
    color: black;
}

@keyframes change {
  0%{color:black;}
  25%{color:green;}
  50%{color:blue;}
  75%{color:purple;}
  100%{color:red;}
  
}

.git:hover{
    text-decoration: underline;
    /* color: orange; */
    animation-name: change;
    animation-duration: 4s;
}

.skills-list > li{
   list-style-type:none;
    padding-right: 5px;
    border-right: 2px solid black;
    padding-left: 5px;
    font-weight:bold;
}
.skills-list{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.skills-list :last-child{
    border-right: none;
}

.about{
  width: 100vw;
  margin-left: 1vw;
}

.hide{
  display: none;
  width: 100vw;
}

.show{
  padding-left: 5vw;

}

.show > p {
  display: flex;
  flex-direction: column;
  padding-bottom: 1vh;
  margin-right: 5vh;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

.more-less{
    background: none!important;
  border: none;
  padding-left: 1%;
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 5vw;
}

.more-less:hover{
  text-decoration: underline;
  color: blue;
}

.profile-photo{
  width: 10%;
  height: 100%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

}
 .photo{
   display: flex;
   justify-content: center;
   margin: auto;
   /* padding: 3vw; */
   /* flex-direction: column; */
   padding-bottom: 3vh;;
 }

 p{
   text-indent: 20px;
   font-size: 40px;
 }

 .projects-contact{
   display: flex;
   flex-direction: row;
 }

 .contact{
   width:50%;
   margin-left: 1.5vw;
 }

 .linkedin{
   text-decoration: none;
   /* font-size: 26px; */
  margin-left: 1.5vw;
 }

 .linkedin-link{
   text-decoration: none;
   margin-left: .5vw;
   color:black;
   cursor: pointer;

 }

 .linkedin-link:hover {
   color: blue;
   text-decoration: underline;
 }

 .email{
   margin-left: 1.5vw;
 }

 .project-title{
   margin-left: 2.5vw;
 }