

.clock{
    display: flex;
    justify-content: flex-end;
    padding-right: 5vw;
    padding-top: 5vh;
    border: 3px solid black;
    background-color: #48E8E8;
 
}

.clock-content{
    display: block;
    margin: auto;
}